<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.margarita.web.mappers.PlayerMapper">
    <select id="selectAll" resultType="com.margarita.web.domains.PlayerDTO">
        select player_id playerId,
            team_id teamId,
            player_name playerName,
            e_player_name ePlayerName,
            nickname,
            join_yyyy joinYyyy,
            position,
            nation,
            birth_date birthDate,solar,
            back_no backNo,
            height, weight
        from player
    </select>
</mapper>